/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prata&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
}
:root{
    --cor_background: #f5f5f5;
    --cor_azul: #a7e0e9;
    --cor_roxo:#89687D;
    --cor_rosa: #fc9b89;
    --cor_rosa_claro: #FCD8CC;
    --cor_preto_cinza: #231f20;
    --cor_bege: #BDB19F;
    --cor_bege2: #D8D0C5;
    --cor_roxa2: #7C80D4;
    --cor_amarelo: #E8AF61;
    --cor_amarelo2: #EEDC39;
    --cor_preto: #000;
    --cor_laranja_claro:#E8AF61;
    --cor_cinza: #D8D0C5;
}
body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: var(--cor_background);
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 24px;
    font-weight: 500;
    color: black;
}
h2{
    font-size: 20px;
    font-weight: 800;
    color: black;
}
h3{
    font-size: 16px;
    font-weight: 600;
    color: #000;
}
h4{
    font-size: 16px;
    font-weight: 600;
    color: #000;
    width: 100%;
    background-color: var(--cor_amarelo2);
    padding: 8px 0px;
}
a{
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: black;
}
a:hover{
    color: var(--cor_laranja_claro);
}
span{
    padding: 8px 16px;
    border-radius: 50%;
    background: var(--cor_amarelo2);
    margin-right: 8px;
}
.mod{
    background-color: var(--cor_background);
}
.navbar{
    width: 100%;
    background-color: var(--cor_roxa2);
    padding: 10px 0px;
}
.navbar .conteudo_nav{
    width: 80%;
    justify-content: space-between;
}
.navbar .left{
    width: 24%;
    justify-content: space-between;
}
.navbar .left img{
    width: 60px;
}
.navbar .right{
    width: 54%;
    justify-content: space-between;
}
/* ------ home ------- */
.home{
    flex-direction: column;
    padding: 60px 0px;
    width: 100%;
}
.home .conteudo{
    width: 64%;
    flex-direction: column;
}
.top{
    width: calc(100% - 64px);
    background-color: var(--cor_amarelo);
    justify-content: space-around;
    padding: 16px 32px;
}
.mid{
    padding: 60px 0px;
    width: 100%;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 24px;
}
.coluna1{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    width: 16%;
}
.titulo{
    width:100%;
}
button{
    margin-top: 16px;
    border: none;
    color: #000;
    border-radius: 16px;
    padding: 8px 0px;
    box-shadow: 0px 3px 0px #231f2057;
    font-size: 16px;
    cursor: pointer;
}
.btn_mod2{
    background-color: var(--cor_bege);
}
.btn_mod{
    background-color: var(--cor_amarelo2);
}
.coluna2{
    align-items: start;
    width: 32%;
    flex-direction: column;
}
.form{
    display: flex;
    flex-direction: column;
}
.form label{
    font-size: 15px;
    font-weight: 400;
}
.form input{
    width: 100%;
    height: 3vh;
    border: none;
    background-color: var(--cor_cinza);
    border-radius: 20px;
    padding: 1px 10px;
    color: var(--cor_preto);
    margin: 8px;
}
.separacao{
    margin-top: 24px;
}
.one{
    padding: 8px 18px;
}
.coluna3{
    width: 32%;
}
.info{
    padding: 8px;
    background: var(--cor_bege2);
    margin-top: 24px;
}
.bot{
    width: 100%;
    flex-direction: column;
    text-align: center;
}
.conteudo_bot{
    width: 100%;
    justify-content: space-around;
    background-color: var(--cor_bege2);
    padding: 24px 0px;
}
.mod_ag{
    padding: 8px 16px;
}