<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style_cadastrar.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Document</title>
</head>

<body>
    <div class="conteudo center">
        <div class="card center">
            <h1>CADASTRO</h1>
            <form action="" class="center" method="POST">
                {% crsf_token %}
                <div class="inputdiv">
                    <label for="">Nome da organização*</label>
                    <input type="text" name="nomeOrg" id="nomeOrg" required>
                </div>
                <div class="inputdiv">
                    <label for="nome">Nome do responsável*</label>
                    <input type="text" name="nomeResp" id="nomeResp" required>
                </div>
                <div class="inputdiv">
                    <label for="email">Email*</label>
                    <input type="text" id="email" name="email" required>
                </div>
                <div class="inputdiv">
                    <label for="">CNPJ*</label>
                    <input type="text" id="cnpj" name="cnpj" required>
                </div>
                <div class="inputdiv">
                    <label for="">(DDD + Telefone celular)*</label>
                    <input type="text" name="tel" id="tel" required>
                </div>
            </form>
        </div>
        <div class="card center">
            <form action="" class="center">
                <div class="inputdiv">
                    <label for="">Senha*</label>
                    <div class="inputNew">
                        <input type="text" id="senha" name="senha" required>
                        <span class="material-symbols-outlined">
                            visibility_off
                        </span>
                    </div>
                </div>
                <div class="inputdiv">
                    <label for="">Confirmar senha*</label>
                    <div class="inputNew">
                        <input type="text" id="confirmacao" name="confirmacao" required>
                        <span class="material-symbols-outlined">
                            visibility_off
                        </span>
                    </div>
                </div>
                <div class="butao center">
                    <button>Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>