<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style_DoadorTabela.css">
    <title>ABA - Doador tabela</title>
</head>

<body>
    <div class="navbar center">
        <div class="conteudo_nav center">
            <div class="left center">
                <img src="static/logo.png" alt="">
                <h1>Vida em patas</h1>
            </div>
            <div class="right center">
              <a id= "sobrenos" href= "{% url 'sobrenos.html' % }">Sobre Nós</a>
              <a id= "feed" href="{ % url 'feedtransparencia' %}">Feed de transparência</a>
              <a id= "queroAjudar" href="{ % url 'queroAjudar.html' %}">Quero ajudar</a>
            </div>
        </div>
    </div>
    <div class="home center">
        <div class="top center">
            <div class="titulo">
                <h2>Arrecadamento</h2>
                <select name="" id="">
                    <option value="">Mês</option>
                    <option value="">Janeiro</option>
                    <option value="">Fevereiro</option>
                    <option value="">Março</option>
                    <option value="">Abril</option>
                    <option value="">Maio</option>
                    <option value="">Junho</option>
                    <option value="">Julho</option>
                    <option value="">Agosto</option>
                    <option value="">Setembro</option>
                    <option value="">Outubro</option>
                    <option value="">Novembro</option>
                    <option value="">Dezembro</option>
                </select>
            </div>
            <div class="meta center">
                <h3>Meta</h3>
                <p>R$2.700,00/R$5.00,00</p>
            </div>
            <div class="bar  center">
                <div class="efect">
                    <div class="azul"></div>
                </div>
                <p>54%</p>
            </div>
        </div>
        <div class="baixo center">
            <div class="topo1 center">
                <div class="titulo">
                    <h2>Gastos</h2>
                    <select name="" id="">
                        <option value="">Mês</option>
                        <option value="">Janeiro</option>
                        <option value="">Fevereiro</option>
                        <option value="">Março</option>
                        <option value="">Abril</option>
                        <option value="">Maio</option>
                        <option value="">Junho</option>
                        <option value="">Julho</option>
                        <option value="">Agosto</option>
                        <option value="">Setembro</option>
                        <option value="">Outubro</option>
                        <option value="">Novembro</option>
                        <option value="">Dezembro</option>
                    </select>
                </div>
                <div class="cards center">
                    <div class="info center">
                        <h3>Gastos</h3>
                        <p>-R$1.250,00</p>
                    </div>
                    <div class="info center">
                        <h3>Saldo</h3>
                        <p>+R$1.450,00</p>
                    </div>
                </div>
            </div>
            <div class="tabela center">
                <table class="center">
                    <tr>
                        <td class="esquerda part_cima part_baixo primeira">Motivo</td>
                        <td class="part_cima part_baixo primeira">Custo</td>
                        <td class="direita part_cima part_baixo primeira">Data</td>
                    </tr>
                    <tr>
                        <td class="esquerda">Cuidados veterinários</td>
                        <td>R$ 700,00</td>
                        <td class="direita">05/05/2023</td>
                    </tr>
                    <tr>
                        <td class="esquerda">Ração canina</td>
                        <td>R$ 250,00</td>
                        <td class="direita">07/05/2023</td>
                    </tr>
                    <tr>
                        <td class="esquerda">Ração felina</td>
                        <td>R$ 250,00</td>
                        <td class="direita">07/05/2023</td>
                    </tr>
                    <tr>
                        <td class="esquerda">Abrigo e manutenção</td>
                        <td>R$ 300,00</td>
                        <td class="direita">14/05/2023</td>
                    </tr>
                    <tr>
                        <td class="esquerda">Transporte</td>
                        <td>R$ 225,00</td>
                        <td class="direita">16/05/2023</td>
                    </tr>
                    <tr>
                        <td class="esquerda">Remédios e vacinas</td>
                        <td>R$ 275,00</td>
                        <td class="direita">21/05/2023</td>
                    </tr>
                    <tr>
                        <td class="esquerda part_baixo">Funcionários</td>
                        <td class="part_baixo">R$ 350,00</td>
                        <td class="direita part_baixo">25/05/2023</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>

</html>