<!DOCTYPE html>
<html lang="pt-br">
<head>
   { % load static % }
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/feedtransparencia.css">
    <title>Feed Transparencia</title>
</head>
<body>
    <div class="feed center">
        <div class="nav">
            <div class="navEsq">
                <img src="img/logoPatas.png" alt="">
                    <h1>Vida em Patas</h1>
            </div>
            <div class="navDir">
                <div class="abas">
                  <a id= "sobrenos" href= "{% url 'sobrenos.html' % }">Sobre Nós</a>
                  <a id= "feed" href="{ % url 'feedtransparencia' %}">Feed de transparência</a>
                  <a id= "queroAjudar" href="{ % url 'queroAjudar.html' %}">Quero ajudar</a>
                </div>
            </div>
        </div>
        <br>
        <div class="botao center">
            <a id= "tabela" href="">Acesse o relatório de prestação contas da instituição</a>
        </div>
        <div class="feed2">
            <div class="box1">
                <div class="img1">
                    <img src="img/box1img.png" alt="">
                </div>
                <div class="txt1">
                    <p>#resgate #gatos</p>
                    <h1>Um novo começo: Resgate de gatos de rua</h1>
                    <h2>Em cada esquina, há histórias silenciosas, patinhas carentes e olhares esperançosos. Nossa equipe dedicada tem trabalhado incansavelmente para dar a esses gatinhos a chance de uma vida digna e cheia de amor.</h2>
                    <h3>13 de novembro de 2023</h3>
                </div>
            </div>
            <div class="box2">
                <div class="img2">
                    <img src="img/box2img.png" alt="">
                </div>
                <div class="txt2">
                    <p>#resgate #cachorros</p>
                    <h1>Uma jornada de esperança: Resgate de cachorros de rua</h1>
                    <h2>Nossa jornada continua. Enfrentamos desafios, mas com sua ajuda, podemos superar cada obstáculo. Cada cachorro merece sentir o calor de um lar amoroso, e juntos, estamos moldando um futuro mais brilhante.</h2>
                    <h3>13 de novembro de 2023</h3>
                </div>
            </div>
            <div class="box3">
                <div class="img3">
                    <img src="img/box3img.png" alt="">
                </div>
                <div class="txt3">
                    <p>#resgate #cuidado</p>
                    <h1>Ajude-nos a criar um mundo mais gentil para os animais!</h1>
                    <h2>Com o seu apoio, conseguimos fazer a diferença na vida de inúmeros animais resgatados, proporcionando-lhes abrigo, cuidados médicos e, o mais importante, amor </h2>
                    <h3>13 de novembro de 2023</h3>
                </div>
            </div>
        </div>
    </div>
</body>
</html>