<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/queroAjudar_style.css">
    <!-- Icones -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Quero Ajudar</title>
</head>
<body>
    <div class="home">
        <div class="nav">
            <div class="navEsq">
                <img src="{% static 'logoPatas.png' %}" alt="">
                    <h1>Vida em Patas</h1>
            </div>
            <div class="navDir">
                <div class="abas">
                    <a href="">Sobre Nós</a>
                    <a href="">Feed de transparência</a>
                    <a href="">Quero ajudar</a>
                </div>
            </div>
        </div>
        <div class="banner center">
            <img src="{% static 'bannerQA.png' %}" alt="">
        </div>
        <div class="texto1 center">
            <h1>Quero ajudar agora mesmo?</h1>
            <h2>Precisamos de você</h2>
        </div>
        <div class="doacoes">
            <div class="doacaoM">
                <a href="doacaoMens.html">Doe mensalmente</a>
                <p>Sua doação mensal fortalece muita a nossa luta</p>
            </div>
            <div class="doacaoU">
                <a href="doacaoUnic.html">Doação única</a>
                <p>Doando sempre que puder, você ajuda</p>
            </div>
        </div>
    </div>
    
</body>
</html>