/* Poppins */

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
}
:root{
    --cor_background: #f5f5f5;
    --cor_azul: #a7e0e9;
    --cor_roxo:#89687D;
    --cor_rosa: #fc9b89;
    --cor_rosa_claro: #FCD8CC;
    --cor_preto_cinza: #231f20;
}
body{
    background: url(../static/backgroundFinal.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteudo{
    width: 80%;
    justify-content: space-between;
}
.conteudo .card{
    padding: 20px 0px;
    width: 36%;
    border-radius: 16px;
    background-color: #fff;
    flex-direction: column;
}
.card form{
    padding: 60px 0px;
    width: 70%;
    flex-direction: column;
    align-items: start;
}
.card h1{
    font-weight: 500;
}
.card .inputdiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 16px 0px;
}
.card .inputdiv input{
    width: 100%;
    border: none;
    background: var(--cor_rosa);
    border-radius: 8px;
    padding: 8px;
}
.butao{
    width: 100%;
    padding: 40px 0px;
}
button{
    border: 1px solid #242021;
    border-radius: 16px;
    padding: 10px 24px;
    background: var(--cor_rosa);
    cursor: pointer;
    min-width: 320px;
    font-size: 16px;
    font-weight: 500;
}
.inputNew{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--cor_rosa);
    border-radius: 8px;
    padding: 0px 8px;
    cursor: pointer;
}
input:focus, input:active, input:hover, input:focus{
    border: none;
    outline: none;
    box-shadow: none;
}