/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prata&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
}
:root{
    --cor_background: #f5f5f5;
    --cor_azul: #a7e0e9;
    --cor_roxo:#89687D;
    --cor_rosa: #fc9b89;
    --cor_rosa_claro: #FCD8CC;
    --cor_preto_cinza: #231f20;
    --cor_bege: #BDB19F;
    --cor_roxa2: #7C80D4;
    --cor_amarelo: #E8AF61;
    --cor_amarelo2: #EEDC39;
    --cor_preto: #000;
    --cor_laranja_claro: #E8AF61;
}
body{
    min-height: 100vh;
    width: 100%;
    background-color: var(--cor_background);
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.feed {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav{
    display: flex;
    width: 100%;
    background-color: var(--cor_roxa2);
    justify-content: space-between;
}
.navEsq{
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
}
.navEsq h1{
    font-size: 18px;
    font-weight: 600;
}
.navEsq img{
    width: 10%;
}
.navDir{
    display: flex;
    width: 40%;
    justify-content: right;
    /* justify-content: end; */
    align-items: center;
}
.abas{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.abas a{
    text-decoration: none;
    color: var(--cor_preto_cinza);
    font-size: 18px;
    font-weight: 600;
}
.abas #mod{
    color:var(--cor_amarelo)
}
.abas a:hover{
    color: #E8AF61;
}
.botao {
    width: 80%;
    height: 8vh;
    border-radius: 10px;
    border: solid 1px #000;
    background-color: #eedc39;
    display: flex;

}
.navEsq h1{  
  font-size: 25px;
  color: black;
  padding-right: 50%;
  font-style: italic;
}

.retangulolaranja{
    width: 180px;
    height: 20px;
    margin: 40px 30px 169px 300px;
    padding: 18px 380px 18px 180px;
    background-color: #e8af61;
    border-radius: 3px;
    display: flex;
    margin-bottom: 7%;

}
.textoretangulolaranja{
    display: flex;
    gap: 100px;
    margin-left: -45%;
}

.textoretangulolaranja > div {
    display: flex;
    align-items: center;
}

.cadastro h1{
    font-size: 15px;     
    margin-left: -40px; 
}


.pagamento h1{
    font-size: 15px;
}

.confirmacao h1{
    font-size: 15px;

}

.numerocadastro {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #eedc39;
    font-size: 14px;
    margin-right: 50px; /* Espaçamento entre o número e o texto */
}

.numeropagamento {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #eedc39;
    font-size: 14px;
    margin-right: 10px;
}

.numeroconfirmacao {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #eedc39;
    font-size: 14px;
    margin-right: 10px;
}

.retangulocinza{
    width: 400px;
    height: 200px;
    margin: 0px 479px 3px 410px;
    padding:30px 27px 1px 80px;
    border-radius: 10px;
    background-color: #d8d0c5;
    margin-top: 0%;
}

.pagamentoconfirmado{
    width: 670px;
    font-size: 12px;
    color: #000;
    margin: 10px 1px 10px 150px;
    margin-top: -45%;
}

.obrigado p{
    width: 670px;
    font-size: 13px;
    color: #000;
    margin: 40px 0px 0px 148px;
    margin-top: 4%;
}

.voltaratelaini button{
    margin-left: 600px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    font-size: 11px;
    text-decoration: underline;
}

.icone{
    font-size: 200px;
    color: #3bdc2d;
    margin-top: -4%;
    margin-left: -15%;
}